@tailwind components;

@layer components {
    .header-main {
        height: 80px;
        width: 100%;

        @apply bg-white;
        @apply fixed;
        @apply z-20;
        @apply flex;
        @apply justify-center;
    }
    .header-main-body {
        width: 100%;
        max-width: 1080px;
        
        @apply px-6;
    }
}
